.header {
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
}

.name {
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: "Georgia", Times, Times New Roman, serif;
	padding: 35px;
	width: 250px;
	margin-left: 100px;
	margin-bottom: 0px;
}

.section-header {
	color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	margin: 25px;
}

.contact-form {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #777777;
	margin-left: 100px;
}

.navigation {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #777777;
	float: right;
}

.content {
	background-image: url("assets/images/symphony.png");
	margin-left: 100px;
	margin-top: 40px;
}

.main-section {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin-left: 25px;
}

.gallery-img-desc {
	color: #ffffff;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background-color: #4aaaa5;
	text-align: center;
	width: 185px;
	height: 40px;
}

.headshot {
	width: 175px;
	height: 130px;
	margin-left: 25px;
	margin-right: 25px;
	float: left;
}

.portfolio-gallery img {
	height: 135px;
	widows: 185px;
}

.social-media {
	float: right;
}

.social-media img {
	height: 50px;
	width: 50px;
}

.footer {
	background-color: #666666;
	height: 85px;
	border-top: 5px solid #4aaaa5;
}

.footer-text {
	text-align: center;
	color: #ffffff;
}

body {
	width: 960px;
}

h2 {
	font-family: "Georgia", Times, Times New Roman, serif;
}

p {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #777777;
}