.header {
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	width: 960px;
	position: relative;
}

.name {
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: "Georgia", Times, Times New Roman, serif;
	padding: 35px;
	width: 250px;
	margin-left: 100px;
	margin-bottom: 0px;
}

.section-header {
	color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	margin: 25px;
}

.contact-form {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #777777;
	margin-left: 100px;
}

.navigation ul {
	list-style: none;
	margin: 0;
	position: absolute;
	bottom: 10px;
	right: 0;
}

.navigation li {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	float: right;
}

.navigation li a {
	display: block;
	color: #777777;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.content {
	background-image: url("../images/old_map_@2X.png");
	margin-left: 100px;
	margin-top: 40px;
	z-index: 1;
	position: relative;
}

.bio {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin-left: 25px;
}

.main-section {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin-left: 25px;
}

.gallery-img-desc {
	color: #ffffff;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background-color: #4aaaa5;
	text-align: center;
	width: 185px;
	height: 40px;
}

.headshot {
	width: 175px;
	height: 130px;
	margin-left: 25px;
	margin-right: 25px;
	float: left;
}

.portfolio-gallery img {
	height: 135px;
	width: 185px;
}

.social-media {
	width: 270px;
	background-color: #ffffff;
	position: absolute;
	margin: 0;
	padding: 5px;
	top: 0;
	right: 0;
}

.connect {
	color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	border-bottom: 1px solid #cccccc;
	text-align: center;
}

.social-media img {
	height: 50px;
	width: 50px;
}

.footer {
	background-color: #666666;
	height: 85px;
	width: 100%;
	border-top: 5px solid #4aaaa5;
	position: fixed;
	bottom: 0;
}

.footer-text {
	text-align: center;
	color: #ffffff;
}

body {
	width: 960px;
}

h2 {
	font-family: "Georgia", Times, Times New Roman, serif;
}

p {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #777777;
}